<app-slider 
    [nombre]="titulo"
    [size]="'small'"
></app-slider>

<div class="center">

    <section id="content">

        <div class="favorita" *ngIf="favorita">
            <p>Pelicula favorita: {{favorita}}</p>
        </div>

        <h1 class="subheader">Listado de peliculas</h1>

        <div *ngFor="let pelicula of peliculas">
    
            <app-pelicula
                [pelicula]="pelicula"
                (MarcarFavorita)="mostrar($event)"
            ></app-pelicula>

        </div>

    </section>

    <app-sidebar></app-sidebar>

</div>